<div fxLayout="column" fxFlex>
  <h1>Welcome to Burguer Station!</h1>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Check our menu selection!</mat-card-title>
      </mat-card-header>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent" routerLink="menus">
          Menus
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Make an online order!</mat-card-title>
      </mat-card-header>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent" routerLink="orders">
          Orders
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
