<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <button mat-button (click)="openCloseSidenav()">Sidenav</button>
    <h1 routerLink="/">Burguer Station</h1>
    <app-nav-tabs class="push-left"></app-nav-tabs>
    <span fxFlex></span>
    <span>Welcome</span>
    <button mat-button [matMenuTriggerFor]="menu">{{user.name}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutPressed()">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
