/* You can add global styles to this file, and also import other style files */
 body {
   margin: 0;
 }
 
 .push {
   margin: 16px;
 }

.push-right {
  margin-right: 16px;
}

.push-left {
  margin-left: 16px;
}